@charset "utf-8";

/* body */
body {
background: #eee;
font-family: "メイリオ", meiryo, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", sans-serif;
}
footer {
margin-top: 40px;
}
li {
list-style-type: none;
}
ul {
padding-left: 20px;
display: inline-block;
}
p {
margin: 0;
}
.mt20 {
margin-top: 20px;
}
.flag:hover {
opacity: 0.8;
}
.last{
margin-bottom: 15px;
}
.flag {
width: 80px;
}
.img_left{
float: left;
padding: 5px;
}
.clear{
clear: both;
margin: 0 0 10px 0;
}
.newsname {
padding: 5px 0;
}
.category::before {
content: '';
display: inline-block;
width: 25px;
height: 25px;
margin-right: 8px;
border: 3px solid;
border-radius: 50%;
border-color: #FFE46D;
}
.inner {
background-color: #fff;
padding: 5px 5px;
border-radius: 6px; 
border-bottom: 3px solid;
border-color: #0883FF;
}
.wraps {
margin: 20px 0;
}
.wrapn {
margin-bottom: 20px;
}
.wrapw {
margin-bottom: 20px;
}
.wrape {
margin-bottom: 20px;
}
/* navbar */
.navbar {
background-color: #fff;
}
.navbar-header img {
margin-top: 5px;
height: 40px;
}

/* cover */
.cover {
margin-top: -20px;
width: 100vw;
height: 320px;
background: url("/images/cover-bg.jpg") center no-repeat;
background-size: cover;
}
.cover .cover-inner {
height: 100%;
margin: auto;
display: table;
}
.cover .cover-inner .cover-contents {
display: table-cell;
vertical-align: middle;
text-align: center;
position: relative;
}
.cover .cover-inner .cover-contents h1 {
margin: 0 0 20px 0;
color: #fd0;
font-weight: bold;
letter-spacing: 0.15em;
}
.cover .btn-success {
background-color: #ed486f;
border-color: #ed486f;
}